pychemprojections/fischer/__pycache__/
.idea
pychemprojections/output_images/
pychemprojections/utils/__pycache__/
examples/.ipynb_checkpoints
pychemprojections/__pycache__/
pychemprojections/wedgedash/__pycache__/